{% extends 'base.html' %}
{% block content %}
    

<h1>POSTS</h1>

{% for post in object_list %}
    <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
    {{ post.author }} <em>{{ post.post_date }}</em>
    <br>
    {{ post.subtitle }}
    <br>
    <small><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></small>
    <br>
    {{ post.body|slice:"200"|safe }}
    <br>
    {% if user.is_authenticated %}
    <small><a href="{% url 'update-post' post.pk %}">EDIT POST</a></small>
    <small><a href="{% url 'delete-post' post.pk %}">DELETE POST</a></small>
    {% endif %}
<br>
<br>

{% endfor %}

{% endblock %}